

*{
    margin: 0;
    padding: 0;
}
:root{
    --mainFond : font-family: 'Roboto', sans-serif;
    --primaryColor-1: rgb(240, 228, 234);
    --primaryColor-5 : rgb(255, 242, 191);
    --primaryColor-10 : rgb(191, 180, 134);

}
li{
    list-style: none;
}
body{
    background: var(--primaryColor-5);

}





/* navbar */
.navbar{
    background: var(--primaryColor-1);
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 15px rgba(0,0,0 ,0.2);



  
}
.nav-center{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.1rem 1rem;

}
.nav-logo{
    height: 100%;
}
.start-game-btn{
        height: 3.5rem;
    outline: none;
    border: 2px solid #222;
    font-size: 1rem;
    font-family: var(--mainFond);
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    border-radius: 1rem;
    background: white;
    justify-self: end;
    margin-right: 2rem;
    width: 60%;
    transition: 300ms linear 0s;
}

.start-game-btn:hover{
    background: var(--primaryColor-1);
}
@media screen and (min-width:992px){
    .start-game-btn{
    margin-right: 4rem;
       font-size: 2rem;  
    }
   
}
/* game */
section{
    padding: 4rem 0 0 0;
     max-width: 1000px;
    margin: 0 auto;
}
.elements{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(20px, 160px));
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.single-element{

    width: 100px;
    height: 100px;
    display: inline-block;
    transition: 1s linear 0s;
    cursor: pointer;

}
@media screen and (min-width:768px){
    .single-element{
        width: 160px;
        height: 160px;
    }
}

.single-element img{
    display: block;
    height: 90%;
    width: 90%;
    object-fit: cover;
    overflow: hidden;
    border: 5px solid #222;
    border-radius: 1rem;
}